.arena {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arena-container {
  margin: 0 auto;
  padding: 50px 0;
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arena-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arena-items {
  padding: 20px 0 0 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* arena */
.arena-player {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player {
  width: 100%;
  height: 90%;
  background-color: #c3c2c73a;
  border-radius: 15px;
  display: flex;
}

.player img {
  margin: auto 0;
  width: 100%;
  height: auto;
}

.player-info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arena-controler {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.arena-controler .button {
  width: 100%;
  height: 60%;
  display: flex;
  align-self: start;
}

.arena-controler .message {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
}

.arena-controler p {
  margin: 0 20px 0 20px;
  padding: 20px 0;
  text-align: center;
}

.arena-controler .button button {
  margin: 0 auto 30px auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  background-color: #791c248f;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
}

.arena-controler button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.arena-monster {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.monster {
  width: 100%;
  height: 90%;
  background-color: #c3c2c73a;
  border-radius: 15px;
  display: flex;
}

.monster img {
  margin: auto 0;
  width: 100%;
  height: auto;
}

.monster-info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-inventory {
  padding: 0 0 0 20px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.user-inventory div {
  padding: 0 10px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.home-button {
  margin: 30px 0 0 0;
  height: 90px;
  width: 90px;
}

.user-inventory-item div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #c3c2c73a;
  border-radius: 10px;
}

.user-inventory-item p {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #c3c2c73a;
  border-radius: 10px;
}

.user-inventory-item div img {
  height: 100%;
  width: 100%;
}

.user-inventory-item div button {
  padding: 5px 0;
  background-color: #3d1c7977;
  border: none;
  border-radius: 5px;
}

.user-inventory-item div button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.used-item {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.used-item div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.used-item div button {
  padding: 5px 0;
  background-color: #3d1c7977;
  border: none;
  border-radius: 5px;
}

.used-item div img {
  height: 100%;
  width: 100%;
}

.user-inventory .potion {
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #3d1c7977;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
}

.user-inventory .potion:hover {
  cursor: pointer;
  opacity: 0.6;
}

.used-potion {
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #3d1c7977;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  opacity: 0.6;
}

.progress {
  display: flex;
  width: 100%;
  height: 20px;
  background-color: #c3c2c73a;
  border-radius: 20px;
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #3d1c7977;
  border-radius: 20px;
}

.user-gold {
  align-self: center;
  color: #fff;
}

.fighting {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
