.arena {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arena-container {
  margin: 0 auto;
  padding: 50px 0;
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arena-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arena-items {
  padding: 20px 0 0 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* arena */
.arena-player {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player {
  width: 100%;
  height: 90%;
  background-color: #c3c2c73a;
  border-radius: 15px;
}

.player img {
  width: 100%;
  height: auto;
}

.player-info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arena-controler {
  width: 20%;
  display: flex;
}

.arena-controler button {
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #791c248f;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
}

.arena-controler button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.arena-monster {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.monster {
  width: 100%;
  height: 90%;
  background-color: #c3c2c73a;
  border-radius: 15px;
}

.monster-info {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-inventory {
  padding: 0 0 0 20px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.user-inventory div {
  padding: 0 10px;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.home-button {
  margin: 30px 0 0 0;
  height: 90px;
  width: 90px;
}

.user-inventory-item div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #c3c2c73a;
  border-radius: 10px;
}

.user-inventory-item p {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #c3c2c73a;
  border-radius: 10px;
}

.user-inventory-item div img {
  height: 100%;
  width: 100%;
}

.user-inventory-item div button {
  padding: 5px 0;
  background-color: #3d1c7977;
  border: none;
  border-radius: 5px;
}

.user-inventory-item div button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.used-item {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.used-item div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.used-item div button {
  padding: 5px 0;
  background-color: #3d1c7977;
  border: none;
  border-radius: 5px;
}

.used-item div img {
  height: 100%;
  width: 100%;
}

.user-inventory .potion {
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #3d1c7977;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
}

.user-inventory .potion:hover {
  cursor: pointer;
  opacity: 0.6;
}

.used-potion {
  margin: 0 auto;
  padding: 10px 20px;
  justify-content: center;
  align-self: center;
  border: none;
  border-radius: 5px;
  background-color: #3d1c7977;
  font-size: 1em;
  color: #fff;
  font-weight: 700;
  opacity: 0.6;
}

.progress {
  display: flex;
  width: 100%;
  height: 20px;
  background-color: #c3c2c73a;
  border-radius: 20px;
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #3d1c7977;
  border-radius: 20px;
}

.user-gold {
  align-self: center;
  color: #fff;
}
